* 

{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    line-height: 90%;
    font-size: 40px;
    
}

h3 { 
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
}

.negrito {
    font-weight: bold;
}



.app_openning { 
    background-image: linear-gradient(rgb(255, 115, 0), rgb(219, 102, 6));
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app_top_menu {
    min-height: 10vh;
    min-width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.144);
}

.app_top_menu_logo {
    background-image: url(./imgs/logo_laranja.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 60%;
    width: 12%;
    margin-left: 10px;   
}

.cabecalho {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(39, 39, 39);
}

.app_button_comprar {
    background: orangered;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    min-height: 100%;
    font-family: 'Varela Round', sans-serif;
    
}

.app_button_comprar:hover {
    background: salmon;
}

.app_adjust {
    width: 80%;
    height: 90%;
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app_logo {
    background-image: url(./imgs/logo_branco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 30%;
    min-height: 30%;
    
}

.logoGRT {
    width: 100%;
    height: 40%;
    background-image: url(./imgs/logo_color.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.btn_saber_mais {
    padding: 12px 20px;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    background: none;
    font-family: 'Varela Round', sans-serif;

}

.btn_saber_mais:hover {
    border: none;
    background-image: linear-gradient(rgb(255, 136, 0), rgb(255, 81, 0));
}


/* apresentacao */ 

.apresentacao {
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.adjust_apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 30px;
    border: 1px solid;
    
}

.foto_apresentacao { 
    background-image: url(./imgs/extracao.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
}

/* diferenciais */ 

.diferenciais {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 115, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.fotodiferenciais {
    width: 100vw;
    height: 40vh;
    background-image: url(./imgs/blockchain.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* onde comprar */ 

.ondecomprar {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(49, 24, 119),rgb(28, 12, 70)) ;
}

.ondecomprar_foto {
    height: 40vh;
    background-image: url(./imgs/ondecomprar.jpg);
    background-size: cover;
    background-position: center;
}

.pancakeswap {
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    border: none; 
    border-radius: 12px;
    background: mediumturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.452);
}

.pancakeswap:hover {
    background: rgb(0, 167, 170);
}

.whatsapp {
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    border: none; 
    border-radius: 12px;
    color: white;
    background: #34af23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.452);
}

.whatsapp:hover {
    background: forestgreen;
}